@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

main > header{background-color:#fff; position: relative;}
main > header .ui.inverted.menu > .item > img{min-width:269px}
main > header .ui.inverted.menu .active.item::after{display:none}
main > header .ui.inverted.menu .active.item{background:none;border-radius:0;text-transform:uppercase}
main > header .ui.inverted.menu .item::before{background:none}
body > img{display:none}
main > header .ui.inverted.menu .active.item{box-shadow:0 4px #008d4c}
.logo {
    max-height: 100px;
    margin-left: 15px;
}
main > header .item{text-transform:uppercase!important;border-radius:0!important}
.top-bar-menu{background-color: #17beb7;padding: 20px 0;border-top: 3px solid #fecd2a;transition-duration: 0.4s;transition-property: background-color, border-color;}
.top-bar-menu p{line-height: 1;}
.top-bar-menu a{color:#fff;display:block;width:100%}
footer{background-color:#272533;    padding: 70px 0;}
.min-header{ background-color:#fff; border-bottom: 1px solid #eee; padding:0!important;position:fixed;top:0;z-index:9;width:100%;transition:.5s all;animation-name:min-menu;animation-duration:1s;padding:0 0 11px}
.copyright{margin-top:60px;text-align:right;box-shadow:0 -2px #414141;padding-top:12px}
    .copyright p{color:#707070}
    .mobile-menu{display:none}
    footer a,footer i,footer p,footer{color:#a7a7a7;font-size:16px}
    .blog-banner{background:url(../images/blog-banner.jpg)no-repeat;  
        background-attachment: fixed!important;
        background-position: 10% 80%!important;}
    .blog-title,.blog-title-detail{padding: 160px 0;}
    a i.fa-arrow-up:before{
        content: "\f176";
        }
        .top-move{    color: rgba(204,204,204,0.73);
            position: fixed;
            width: 58px;
            cursor: pointer;
            bottom: 40px;
            right: 40px;
            height: 58px;
            border-radius: 40px;
            text-align: center;
            padding-top: 0px;
            font-size: 26px;
            line-height: 58px;
        }
        .top-move:hover{background-color:#17beb7!important;}
        .top-move i{margin-right:0}
    .blog-title h1,.blog-title-detail h1{font-weight: 300;font-style: normal;font-family: 'Robotolight', sans-serif;color: #fff;font-size: 60px;line-height: 1.1;letter-spacing: 0px;}
.menu.home-tab-link{justify-content:center}
.menu{margin-bottom:0!important;margin-top:0!important;justify-content:center}
.menu.menu-responsive a.item{padding-bottom:10px!important}
.nopadding{padding:0!important}
.invoicing_made{margin-top:30px}
.invoicing_made h3{font-size:22px;font-weight:600;color:#ff5722}
.invoicing_made p{font-size:22px;color:#000}
.buttons-try a{display:inline-block;color:#000;box-shadow:0 -4px #0003 inset;padding:18px 51px;background-color:#E2E2E2;font-size:17px; margin-right:10px;}
.buttons-try{margin-top:30px}
.buttons-try a:first-child{background-color:#d9534f;color:#fff;padding:18px 65px;margin-right:10px}
.laptop-img img{padding-top:35px}
.buttons-try a:hover{background-color:rgb(0,0,0);color:#fff}
.buttons-try a:first-child :hover{background-color:rgb(255,87,34)}
.menu-responsive{margin-top:5px!important;justify-content:safe;}
.res-img{border:3px solid #ccc;width:100%}
.blog-tag a, .subline .tags a{background-color:#919191;color:#fff!important;font-size:15.2px;margin-right:3.8px;padding:0 9.5px;text-decoration:none;white-space:nowrap;display:inline-block; line-height: 25px;}
.mobile-phone{display: none; position: fixed;left: 0;right: 0;margin: auto;width: 130px !important;top: -60px; transition: 1.5s all;}
.min-header .mobile-phone{top:3px; position: absolute;z-index: 99999999;}
.mobile-phone *{color:#fff;}
.mobile-phone a:hover{color:#fff}
.inner-canvas header h1{text-transform: capitalize;}
.pup-set img{cursor:inherit;}
.green_button{color:#008D4C !important;  border-bottom: 1px solid #03ac5e; font-size: 16px;}
.aura-link .fa.fa-caret-down{
    display: none;
}
.mobile{
    display: none;
}
p.bb-img {
    display: none;
}
.ui.menu.menu-responsive {
    display: inherit;
    text-align: right;
}
#immigration ol li {
    padding-left: 10px;
    list-style-type: disc;
    margin-left: 20px;
}
.aura-link:hover > .menu{
    display: block;
    min-width: 180px;
    padding: 20px 0;
    background-color: #ffffff;
    border-color: #e7e7e7;
    display: block;
    position: absolute;
    left: 0;
    z-index: 99;
    border-radius: 0;}
    .navbar_header .container .menu-responsive .dropdown.aura-link > div.ui a {
        font-size: 14px!important;
        line-height: 24px;
        padding: 5px 24px!important;
        font-style: normal;
        color: #666666;
        text-decoration: none;
        background-color: transparent;
        text-align: left;
        margin: 0;
        text-transform: capitalize;
        font-weight: normal;
        display: block;
    }
.gst-list-featured h2{font-size: 18px;text-align: center;line-height: 25px;font-family: open sans;}
main > header .ui.pointing.dropdown > .menu::after{left: 19%;}
#nopp{padding-top: 21px;}
#nopp a{padding:8px 15px !important;}
#nopp .menu {z-index: 111111;}
.menu-responsive .dropdown{padding-bottom: 10px !important; z-index: 9;}
.clients_more{    position: absolute;    bottom: 0;    left: 0;    right: 0;    top: 0;    overflow: hidden;    opacity: 0;    transition: 0.5s all;}
.clients_more a{    bottom: 490px;left: 0;right: 0;display: flex;top: 0px;position: absolute;font-size: 1.2rem;height: 40px;border-radius: 4px;color: #fff;justify-content: center;margin: auto;align-items: center;width: 20%;background-color: #ff5722;padding: 25px 0px;border: 3px solid #e74d1d;}
.Client{ border: none !important;    background: none;    margin: 0px !important;    padding-bottom: 30px;     pointer-events: none;}
.Client .column img{box-shadow: none !important; }
.aura-link .ui.menu {
    border: 1px solid #e7e7e7!important;
}
.aura-link .ui.menu::after {
    position: absolute;
    content: "";
    left: 0;
    top: -27px;
    background-color: #fff;
    height: 27px;
    z-index: 888;
    width: 100%;
}
#immigration strong {
    color: #000;
    font-weight: 900;
}

.learn-more:hover
a {
    bottom: 0 !important;
}
a.size-medium{
    font-size: 16px;
    min-width: 180px;
    padding: 17px 15px;
}
a.size-small{
    font-size: 15px;
    min-width: 160px;
    padding: 17px 15px;
}
.gray_bg{
 background-color: #f1f4f6;
}
.white{
    color:#fff!important;
}
.bg_white{
 background-color: #fff;
}
.black{
    color:#000;
}
.learn-more a {
    transition: 0.5s all;
}
.circle_img {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    padding: 15px;
}

.iphone-img{
    background: url(../images/mobileSlide1.png) no-repeat;
    align-self: center;
    background-size: 100%;
    height: 100%;
    min-height: 300px;
    background-position: 0 0;
    position: relative;
    top: 0px;
    margin-top: 40px;
}
.mobile-slide img{width: 100%; max-width: 231px; margin-top:30px !important;}
/* css aura */
.appicon_logo {
    max-width: 60px!important;
}
a {
    outline: none !important;
    transition:.3s;
}
header .navbar_header .four.wide.column{
    display: none;
}
.navbar_header .menu.menu-responsive a.active {
    color: #fecd2a;
}
 .p_40{
    font-weight: 300;
    font-style: normal;
    font-family: Roboto, sans-serif;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: 0px;
 }
 .p_13 {
    font-weight: 300;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    color: #666666;
    font-size: 13px;
    line-height: 1.7;
    letter-spacing: 0px;
}
.p_16{
    font-weight: 300;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    color: #666666;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0px;
    }
    .p_12 {
        font-weight: 300;
        font-style: normal;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 1;
        letter-spacing: 0px;
    }
    P{
        padding: 0;
        margin: 0;
    }
    .p_20{
    font-weight: 400;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    color: #17beb7;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0px;
    }
    .p_26{
        font-weight: 300;
        font-style: normal;
        font-family: 'Roboto', sans-serif;
        color: #17beb7;
        font-size: 26px;
        line-height: 1.4;
        letter-spacing: 0px;
    }
    .p_24{
        font-weight: 300;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0px;
        }
    .wrap-div{
        float: left;
        width: 100%;
    }
    .about_sec p.section_heading::after {
        height: 2px;
        width: 100px;
        background: #fff;
        position: absolute;
        content: "";
        left: 0;
        bottom: -15px;
    }
    .about_sec p.section_heading {
        position: relative;
        font-size: 32px;
        margin-bottom:30px!important;
    }
    .pad-20{
     padding: 20px;
    }
    ul,li{
     list-style: none;
    }
    .pad_30_0{
        padding:30px 0;
    }
    .pad_t_b{
        padding: 22px 0!important;
    }
    .mt_50{
        margin-top: 50px!important
    }
    .pt-5{
        padding-top: 5px;
    }
    .pb-5{
        padding-bottom: 5px!important;
    }
    .pl-0{
        padding-left: 0!important;
    }
    .pr-0{
     padding-right: 0;
    }
    .p_0{
        padding:0;
    }
    .m_0{
    margin: 0!important;
    }
    div p{
        margin-bottom: 0;
    }
    a{
        transition:.3s;
    }
    *{
        margin: 0;
        padding: 0;
    }
    .p_50{
        padding: 50px!important;
    }
    .pad_140{
        padding: 140px 0;
    }
    .pad_100{
        padding: 100px 0;
    }
    .mb_10{
        margin-bottom: 10px;
    }
    .mt_20{
        margin-top: 20px!important;
    }
    .mt_30{
        margin-top: 30px;
    }
    .mb_20{
        margin-bottom: 20px!important;
    }
    .mb_30{
        margin-bottom: 30px;
    }
    .mb_40{
        margin-bottom: 40px;
    }
    .pt_40{
        padding-top: 40px;
    }
    .text_center{
        text-align: center!important;
    }
    .section_heading{
        font-weight: 300;    
        cursor: pointer;
        font-style: normal;
        font-family: 'robotolight';
        font-size: 42px;
        line-height: 0.9;
        letter-spacing: 0px;
    }
    #immigration a.size-small {
        padding: 8px 25px;
        text-transform: none;
        font-weight: 500;
    }
    .imm_prog h3.theme_green {
        font-size: 25px;
    }
    #immigration h1.section_heading {
        font-weight: 300;
        cursor: pointer;
        font-style: normal;
        font-family: 'robotolight';
        font-size: 42px;
        line-height: 0.9;
        letter-spacing: 0px;
    }
    #immigration h4 {
        font-weight: 300;
        margin-bottom: 40px;
        cursor: pointer;
        position: relative;
        font-style: normal;
        font-family: 'robotolight';
        font-size: 32px;
        line-height: 0.9;
        letter-spacing: 0px;
        color: #17beb7;
    }
    #immigration h1 {
        font-weight: 300;
        margin-bottom: 40px;
        cursor: pointer;
        position: relative;
        font-style: normal;
        font-family: 'robotolight';
        font-size: 32px;
        line-height: 0.9;
        letter-spacing: 0px;
        color: #17beb7;
        padding-left: 70px;
    }
    #immigration h1::after {
        position: absolute;
        content: "";
        left: 0;
        height: 2px;
        width: 60px;
        background-color: #17beb7;
        top: 15px;
    }
    #immigration .ui.styled.accordion {
        width: 100%;
    }
    #immigration p a:hover {
        text-decoration: underline;
        color: #fecd2a;
    }
    .large_icons{
            font-weight: 300;
            font-style: normal;
            font-family: 'Roboto', sans-serif;
            color: #fecd2a;
            font-size: 40px;
            line-height: 1;
            letter-spacing: 0px;
    }
    .large_icons.contact{
        font-size: 60px;
    }
    .button_style1{
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #ffffff;
        background-color: #fecd2a;
        border-color: #fecd2a!important;
        font-size: 16px;
        padding: 19px 15px;
        min-width: 233px;
        text-transform: uppercase;
        line-height: 23px;
        display: inline-block;
        text-align: center;
        z-index: 1;
        transition: .3s;
        line-height: 22px;
        border: 2px solid;
        letter-spacing: .7px;
    }
    .button_style2{
        transition-duration: 0.4s;
        transition-property: background-color, border-color;
        padding: 10px 15px;
        font-weight: 400;
        font-style: normal;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 1px;   
        text-decoration: none;
    }
    .button_style1:hover{
        color: #fecd2a;
        background-color: #ffffff;
        border-color: #fecd2a;
        text-decoration: none;
    }
    /* header */
    .aura-link div.menu a.item.theme_green {
        display: none!important;
    }
    .top_head_bar{
        background-color: #27beb7;
        color: #fff;
        border-top: 3px solid #fecd2a;
    }
    .middle_head_bar{
        padding: 41px 0;
    }
    .middle_head_bar a{
        color: #27beb7!important;
        text-decoration: none;
        font-weight: 400;
        font-style: normal;
    }
    .middle_head_bar a:hover, .navbar_header a:hover{
        text-decoration: none;
        font-style: normal;
        background-color: transparent!important;
        color: #fecd2a!important;
        text-decoration: none!important;
    }
    .logo_header{    display: inline-block;
        cursor: pointer;
        max-width: 190px;
    }
    .navbar_header {
        border-top: 1px solid #eee;
        background-color: #fff;
        z-index: 9999;
    }
    .navbar_header .menu.menu-responsive a{
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 16px;
        text-align: left;
        transition: .3s;
        letter-spacing: .8px;
        padding: 20px 0!important;
        text-transform: uppercase;
        margin: 0 30px;
        display: inline-block;
        line-height: 21px;
        color: #17beb7;
    }
    .navbar_header .menu.menu-responsive a::before{
        display: none!important;
    }
    .navbar_header .menu.menu-responsive .aura-link{
        padding: 0!important;
    }
    .navbar_header .menu.menu-responsive .aura-link span{
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #27beb7!important;
        font-size: 16px;
        text-align: left;
        transition: .3s;
        letter-spacing: .8px;
        line-height: 20px!important;
        padding: 20px 0!important;
        text-transform: uppercase;
    }
    .navbar_header .menu.menu-responsive .aura-link span::before{
        display: none;
    }
    .navbar_header .navbar-nav li{
        margin-left: 40px;
    }
    .navbar_header .menu{
        border: none!important;
        box-shadow: none!important;
    }   
    .navbar_header .navbar-default{
        background-color: #fff;
        border:none;
    }
    .custom_dropdown{
        padding: 20px 0;
    }
    .dropdown-menu.custom_dropdown li{
        margin-left: 0;
        width: 100%;
    }
    .custom_dropdown li a{
        font-size: 14px;
        line-height: 23px;
        color: #666!important;
        font-weight: 400;
        padding: 5px 30px;
    }
    /* banner sec */
    #home .modal .image.content {
        padding: 0!important;
    }
    /* #home .modal .image.content iframe {
        background-color: rgb(254, 205, 42);
    } */
    .banner_sec{
        background-image: url('../images/banner.jpg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 250px 0;
    }
    .heading_banner{
        font-weight: 300;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 60px;
    line-height: 1.1;
    letter-spacing: 0px;
    }
    .bold_head{
    font-weight: 500;
    line-height: 1.3;
    }
    .thin_head{
        font-family: 'robotolight';
    }
    .banner_widget{
    background-color: rgba(39,190,183,0.7);
    transition-duration: 0.4s;
    transition-property: background-color, border-color;
    padding: 40px 0 50px 0;
    text-align: center;
    }
    /* privacy_pol */
    .privacy_pol h3{
        font-weight: 400;
        font-style: normal;
        font-family: 'Roboto', sans-serif;
        color: #17beb7;
        font-size: 20px;
        line-height: 0.9;
        letter-spacing: 0px;
        margin-bottom: 20px;
    }
    .privacy_pol p{
        margin-bottom: 50px;
        font-weight: 300;
        font-style: normal;
        font-family: 'Roboto', sans-serif;
        color: #666666;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0px;
    }
    .privacy_pol p:last-child{
        margin-bottom: 0;
    }
    /* visa category */
    .visa_category img {
        width: 100%;
    }
    .visa_category .ui.icon i{
        box-shadow: none;
    }
    .visa_category .ui.segment {
        transition: .3s;
        border: 1px solid #e7e7e7!important;
        border-radius: 0;
        box-shadow: none;
    }
    .visa_category .ui.segment:hover{
        background-color: #f5f5f5;
    }
    .visa_category .ui.segment.lastcategory:hover{
        background-color: #fecd2a;
    }
    .visa_category .ui.segment.lastcategory a:hover{
        color: #fff;
    }
    .single_category_head a{
    font-weight: 400;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 0.9;
    letter-spacing: 0px;
    }

    .more_info a i{
        font-size: 12px;
        font-weight: 400;
        display: block;
        float: right;
        margin-left: 5px;
        line-height: 20px;
    }
    .more_info.browse a:hover{
        color: #27beb7!important;
    }
    .more_info a{
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 16px;
        letter-spacing: .7px;
        display: inline-block;
        cursor: pointer;
        text-transform:uppercase;
    }
    .ui.segment.lastcategory{
        background-color: #fecd2a;
        color: #fff;
    }
    /* about sec */
    .about_sec{
        padding: 100px 0;
        background-image: url('../images/about-sec.jpg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .need_help a{
        text-decoration: none;
        font-weight: 300;
        font-style: normal;
        color: #fff;
        transition: 0.3s;
    }
    .need_help a:hover{
        color: #fecd2a;  
    }
    .upppercase{
        text-transform: uppercase;
    }
    .about_sec a{
        text-decoration: none;
        font-weight: 300;
        font-style: normal;
        color: #fecd2a;
        transition: 0.3s;
    }
    .about_sec a:hover{
        color: #fff;  
    }
    .about_sec .ui.segment {
        border-radius: 0;
        border: none;
    }
    .our_services a.button_style2 {
        position: absolute;
        left: 1rem;
        bottom: 1rem;
    }  
    .our_services a.button_style2:hover {
       color:#fff;
    }    
    /* client_say */
    .client_say .ui.segment {
        padding: 50px 20px!important;
        border: none;
        border-radius: 0;
    }
    .client_say .button_style1{
        color: #27beb7;
    background-color: #ffffff;
    }
    .client_say .button_style1:hover{
        color: #fff;
    background-color: #fecd2a;
    }
    /* footer */
    .footer_sec{
        padding: 100px 0;
    }
    .footer_sec a{
        transition: 0.3s;
        margin: 0 5px!important;
    }
    .footer_sec i{
        transition: 0.3s;
    }
    .footer_sec a:hover{
        transition: 0.3s;
        background: #fff!important;
    }
    .footer_sec a:hover i{
        color:#000!important;
    } 
    .copyrigth_outer a:hover{
        background-color: transparent!important;
        color: #fecd2a;
    }
    /* request_callback */
    .request_callback{
        background-image: url('../images/canada_contact.jpg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        padding: 20px 0 0 0;
    }
    section.request_callback::after {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.7);
        z-index: 0;
    }
    .request_callback .left_p{
        font-weight: 300;
        font-style: normal;
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        line-height: 1.1;
        letter-spacing: 0px;
    }
    /* statistic_sec */
    .statistic_sec .ui.statistic>.value{
        text-transform: capitalize;
    }
    /* immigration_sec */
    .imigrationto_sec a.ui.image{
        width: 100%;
        height: 280px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .imigrationto_sec a.ui.image:hover .overlay{
        visibility: visible;
        opacity: 1;
    }
    .overlay .border_div{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        border: 1px solid #fff;
        z-index: 999;
        margin: 10px;
    }
    .imigrationto_sec .overlay{
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s linear;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        color: #fff;
        background-color: rgba(23,190,183,0.8);
    }
    /* services page */
    .services_page ul li{
        padding-left: 20px;
    }
    .services_page ul li{
        position: relative;
    }
    .services_page ul li::before{
        position: absolute;
        display: inline-block;
        top: 1px;
        left: 0px;
        z-index: 0;
        color: #17beb7;
        content: "";
        text-align: center;
        font: 10px/20px FontAwesome;
    }
    /* catg_serv */
    .catg_serv .eight.column{
        padding:0!important;
       }
    .catg_serv .first div p{
        z-index: 999;
        position: relative;
    }
    .catg_serv .first div{
        background-image: url('../images/immigration-block1.jpg');
        padding: 120px 0px;
        position: relative;
    }
    .catg_serv .first div::after {
        background-color: rgba(23,190,183,0.87);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        content: "";
        bottom: 0;
    }
    .catg_serv .sec div p{
        z-index: 999;
        position: relative;
    }
    .catg_serv .sec div{
        background-image: url('../images/immigration-block2.jpg');
        padding: 120px 0px;
        position: relative;
    }
    .catg_serv .sec div::after {
        background-color: rgba(254,205,42,0.87);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        content: "";
        bottom: 0;
    }
    .catg_serv .button_style1{
        background-color: transparent;
        border-color: #fff!important;
    }
    .catg_serv .button_style1:hover{
        background-color: #fff;
    }
    /* blog */
    .blog .ui.card.fluid {
        box-shadow: none;
    }
    .blog .ui.card .content {
        border: none;
    }
    /* pricing */
    .pricing .ui.segment {
        border-top: 7px solid #fecd2a!important;
        border-radius: 0;
        border: 1px solid #eee;
        box-shadow: none;
        padding: 0;
        border: none;
    }
    .pricing .pad_30_0 {
        box-shadow: 0px 2px 1px #eee;
        border: 1px solid rgb(231, 231, 231);
        border-bottom: none;
        margin-bottom: 2px;
    }
    .pricing .p_20{
        color: rgba(23,190,183,0.87);
    }
    .pricing_div{
        border: 1px solid rgb(231, 231, 231);
        background-color: rgb(251, 251, 251);
        border-top: none;
    }
    .pricing .pad_30_0 {
        box-shadow: 0px 2px 1px #eee;
    }
@keyframes min-menu {
    0%{top:-100px}
    100%{top:0}
}
@media(max-width:1366px){
}
@media(min-width: 1024px){
    nav.share span{left:inherit; right: -7px;}
}

@media(max-width:1200px) {
    .navbar_header .menu.menu-responsive a {
        font-size: 14px;
        margin: 0 20px;
    }
    .privacy_pol h3{
        font-size: 19px;
    }
    .privacy_pol p{
        margin-bottom: 45px;
        font-size: 15px;
    }
    .p_20 {
        font-size: 18px;
    }
    .blog .img_box {
        height: 250px !important;
    }
    .pad_30_0 {
        padding: 25px 0;
    }
    .pt_40 {
        padding-top: 20px;
    }
    .catg_serv .first div {
        padding: 75px 0px;
    }
    .catg_serv .sec div {
        padding: 75px 0px;
    }
    .services_page ul li::before {
        top: 0px;
        font: 7px/14px FontAwesome;
    }
    .services_page ul li {
        padding-left: 15px;
    }
    .mt_50 {
        margin-top: 30px !important;
    }
    .blog-title, .blog-title-detail{
        padding: 120px 0;
    }
    .heading_banner{
        font-size: 50px;
    }
    .request_callback .left_p{
        font-size: 36px;
    }
    .footer_sec {
        padding: 80px 0;
    }
    .section_heading{
        font-size: 36px;
    }
    .our_services a.button_style2{
        font-size: 12px;
    }
    .statistic_sec .ui.statistic > .value{
        font-size: 3em!important;
    }
    .pad_140{
        padding: 100px 0;
    }
    .banner_sec{
        padding: 150px 0;
    }
    .navbar_header .menu.menu-responsive .aura-link span{
        font-size: 14px;
    }
}
@media(max-width:1190px) {
}
@media(max-width:991px) {
    .navbar_header .menu.menu-responsive a{
        font-size: 13px;
        margin:0 10px;
    }
    .logo {
        max-height: 45px;
    }
    .logo-rs.nopadding {
        padding: 1rem!important;
    }
    .mt_30{
        margin-top: 20px;
    }
    .privacy_pol h3{
        font-size: 17px;
        line-height: 1;
        margin-bottom: 15px;
    }
    .privacy_pol p{
        margin-bottom: 35px;
        font-size: 13px;
        line-height: 1.4;
    }
    .p_40{
        font-size: 25px;
        line-height: 1.2;
    }
    .footer_sec{
        padding: 75px 0;
    }
    a.size-medium{
        font-size: 12px;
        min-width: 140px;
        padding: 12px 10px;
    }
    a.size-small{
        font-size: 12px;
        min-width: 140px;
        padding: 12px 10px;
    }
    .client_say .ui.segment {
        padding: 30px 20px !important;
    }
    .statistic_sec .ui.statistic > .value{
        font-size: 2rem!important;
    }
    .navbar_header .container .menu-responsive .dropdown.aura-link > div.ui a {
        font-size: 13px !important;
        line-height: 18px;
        padding: 5px 20px !important;
    }
    .navbar_header .menu.menu-responsive .aura-link span{
        font-size: 14px;
    }
    .banner_widget{
        padding: 25px 0;
    }
    .single_category_head a{
        font-size: 17px;
      }
      .footer_sec a.ui.massive {
        font-size: 1.2em;
    }
    /* got from 768 */
    .p_50 {
        padding: 30px!important;
    }
    .navbar_header .menu.menu-responsive .aura-link span{
        padding:10px 0!important;
    }
    .more_info a{
        font-size: 12px;
    }
    .pad_140{
        padding: 50px 0;
    }
    .navbar_header .menu.menu-responsive a{
        padding-top: 10px!important;
        padding-bottom: 10px!important;
    }
    .section_heading{
        font-size: 27px;
        line-height: 1;
        letter-spacing: 0px;
        margin-bottom: 30px!important;
    }
    .about_sec{
        padding: 35px 0;
    }
    .banner_sec{
        padding: 50px 0;
    }
    .heading_banner{
        font-size: 30px;
        line-height: 1.4;
    }
    .request_callback .left_p{
        font-size: 30px;
    }
    .button_style1 {
        font-size: 12px;
        padding: 10px 4px;
        min-width: 160px;
    }
    .button_style2{
        font-size: 12px;
        line-height: 1;
    }
    .middle_head_bar {
        padding: 10px 0;
    }
    .middle_head_bar li.ui.grid {
        padding: 0;
    }
    .navbar_header{
        text-align: center;
        padding:5px 0;
        position: relative;
    }
    .top-bar-menu{
        padding: 10px 0;
    }
    .large_icons{
        font-size: 30px;
    }
    .large_icons.contact{
        font-size: 30px;
    }
    .p_16{
        font-size: 13px;
        line-height: 1.4;
    }
    .p_12{
        font-size: 10px;
    }
    .p_20{
        font-size: 17px;
        line-height: 1;
        letter-spacing: 0px;
    }   
    .middle_head_bar .p_20{
        font-size: 13px;
        line-height: 1.2;
    } 
    .p_26{
        font-size: 20px;
        line-height: 1.3;
    }
    .p_24{
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0px;
    }
    .mb_10{
        margin-bottom: 7px;
    }
    .mt_20{
        margin-top: 15px!important;
    }
    .mb_20{
        margin-bottom: 15px!important;
    }
    .mb_30{
        margin-bottom: 15px;
    }
    .mb_40{
        margin-bottom: 20px;
    }
    .top-bar-menu a,.help-desk a span{width:auto!important;display:inline-block!important}
    .round-set span{font-size:16px}
    .round-set span{display:flex!important;font-size:16px;height:100%;vertical-align:middle;flex-direction:column!important;justify-content:center}
    .gst-list-featured{margin-top:0!important}
    .invoice-featured h5{margin-top:0}
    .laptop-img img{width:100%}
    .main-banner + section{margin:30px 0}
    .top-bar-menu a,.help-desk a span{display:inline-block;width:auto}
    .featured_style h3{font-size:25px}
    .featured_style h2{text-shadow:none}
    .title-dates > div{padding:0 20px}
    .get-started{width:100%}
    .started{transform:scale(.6);bottom:30px!important;left:0;min-width:360px}
    .invoice-featured::before{display:none}
    .invoice-featured a{display:block;width:30%;margin:1px 0!important}
    
    .mobile-menu i{font-size:21px}
    .menu-responsive.m-show {
        display: block !important;
        position: absolute;
        top: 40px;
        left: 10%;
        border-radius: 0;
        z-index: 9;
        width: 80%;
        border: 2px solid #fecd2a !important;
    }
    .sign-in span{width:100%}
    .nopadding-tablet{padding-top:0!important}
    .preview-tab h1{font-size:25px}
    .preview-tab h2{font-size:18px}
    .min-control .i-prev{width:120px}
    .feature-gst h4{font-size:19px;margin:15px 30px}
    .three-sixty::before{margin-left:-5109px!important}
    .title-dates{padding:0}
    .top_social a{font-size:22px}
    .top_social{text-align:left}
    .blog-title h1,.blog-title-detail h1{font-size:30px}
    .tb-style .table{min-width:930px}
    .inner-content-page{padding:40px 0}
    .min-header .mobile-menu{top:-37px}
    .tags{margin-top:0}
    .gst-list-featured{min-height:620px;display:flex;flex-wrap:wrap}
    .gst-list-featured .round-set{position:relative;left:0!important;border-radius:0;margin:10px 0;top:0!important}
    .round-center-main{display:none}
    .gst-features-mobile{display:block;text-align:center;width:100%;margin-bottom:30px;text-transform:uppercase;border-bottom:2px solid #ccc;padding-bottom:20px}
    .tabbed-style{border-top:0}
    .invoice-featured{display:flex;flex-wrap:wrap;flex-direction:column;text-align:left;position:relative}
    .inner-child-features{position:relative;display:inline-block;text-align:left}
    .inner-child-features ul{min-width:300px;position:absolute;left:40%;margin:0;top:0}
    .inner-child-features ul li a{display:block;width:100%;font-size:14px!important;line-height:9px;font-size:14px!important}
    .inner-child-features ul li::before{line-height:20px}
    .inner-child-features > a::after{left:213px}
    .inner-child-features a:hover::after{right:-18px}
    .buttons-try a{padding:10px 15px!important}
    .inner-child-features > a::after{content:"\f0da";left:213px;top:0}
    .inner-child-features.inner-icf-active ul.big-list{left:240px!important}
    .gst-list-featured{min-height:inherit;flex-direction:column}
    .round-set span{text-align:left!important;width:150px!important;left:180px!important;top:0!important;flex-direction:column}
    .help-desk strong{margin-left:5px;padding:3px 2px;display:inline-block}
    .help-desk a span{margin-left:0}
    .blog-list-box .top-title{padding:2px 0 0}
    .blog-title h1,.blog-title-detail h1{font-size:55px}

    .blog-title,.blog-title-detail{padding:70px 0}

    .blog-list .ui.container{width:90%!important}
    .blog-heading h2{font-size:19px;text-transform:capitalize}
    .clients{margin-top:40px}
    .blog-title-detail h1{font-size:34px;line-height:50px;margin-top:32px}
    .min-header{padding-bottom:0}
    .min-header .logo-rs{padding-bottom:5px!important}
    .share{position:static;display:flex;width:100%;justify-content:space-evenly}
    nav.share a{font-size:20px;height:30px;width:30px;margin:10px 7px;padding:20px;line-height:20px}
    .date-time time{padding-left:30px}
    .date-time span i{position:absolute}
    .share{justify-content:space-evenly}
    .logo-rs + div{display:flex;flex-direction:column;padding-bottom:0}
    .aside-fx{position:static!important;top:0}
    .row-reverse-custom{flex-direction:column-reverse!important}
    .share{position:fixed;bottom:0;top:inherit;z-index:11111;height:40px}
    .blog-detial-statusbar span{font-size:15px}
    .blog-detial-statusbar .sixteen.wide.mobile{padding:0 10px!important}
    nav.share a{height:40px;margin:0;padding:0 20px;width:25%}
    nav.share span{top:-13px;right:5px;z-index:11111}
    .mobile-phone{display: block;}
    .mobile-phone a {	background-color: #ff5722;	padding: 0px 10px;	display: inline-block;}
    .disqus{width:80%}
    .iphone-img{display: none;}
    .mobile-slide img{margin-top: 0 !important;        max-width: 145px;}
}
@media(max-width:767px) {
    .banner_widget{
        padding: 20px;
    }
    .pad_100{
        padding: 30px 0;
    }
    #immigration h1 {
        font-size: 26px;
        padding-left: 0;
    }
    #immigration h4{
        font-size: 24px;
    }
    #immigration h1::after{
        display: none;
    }
    .imm_prog h3.theme_green {
        font-size: 20px;
    }
    .navbar_header .floated.nopadding-tablet {
        padding-bottom: 0!important;
    }
    .pad_t_b {
        padding: 1rem!important;
    }
    .logo {
        max-height: 60px;
    }
    .pad_t_b .pl-0 {
        padding-left: 1rem!important;
    }
    .blog a.ui.facebook {
        margin-bottom: 10px;
    }
    .services_page .mt_50 {
        margin-top: 10px !important;
    }
    .privacy_pol h3{
        font-size: 18px;
        line-height: 1;
        letter-spacing: 0px;
        margin-bottom: 15px;
    }
    .privacy_pol p{
        font-size: 13px;
        line-height: 1.2;
        margin-bottom: 30px'
    }
    .request_callback iframe {
        height: 670px;
    }
    .modal .image.content  iframe {
        height: 665px;
    }
    .blog .img_box {
        height: 150px !important;
    }
    .large_icons.contact {
        font-size: 22px;
        line-height: 1.3;
    }
    .pad_30_0 {
        padding: 20px 0;
    }
    .contact_us .m-0-auto .p_20 {
        font-size: 18px;
        line-height: 0.9;
    }
    .pricing .p_16 {
        font-size: 15px;
        line-height: 0.9;
    }
    .pricing .p_20 {
        font-size: 18px;
        line-height: 0.9;
    }
    .catg_serv .sec div{
        padding: 60px 0;
    }
    .catg_serv .first div{
        padding: 60px 0;
    }
    .p_40{
        font-size: 20px;
        line-height: 1.5;
    }
    .middle_head_bar .p_20 {
        font-size: 16px;
        line-height: 1.3;
    }
    .single_category_head a{
        font-size: 18px;
      }
    .our_services a.button_style2 {
        width: calc(100% - 2rem);
    }
    .client_say .ui.segment{
        padding: 20px!important;
    }
    .navbar_header .container .menu-responsive .dropdown.aura-link > div.ui a{
        line-height: 14px;
        font-size: 12px !important;
    }
    .aura-link .ui.mobile {
        position: static;
        background-color: transparent;
        float: left;
        width: 100%;
    }
    .aura-link:hover > .menu{
        display: none;
    }
    .aura-link .fa.fa-caret-down {
        position: absolute;
        right: 0;
        display: block;
        top: 0;
        font-size: 18px;
        color: #888;
        padding: 10px 20px;
    }
    a.size-medium {
        font-size: 12px;
        min-width: 130px;
        padding: 7px 12px;
    }
    a.size-small {
        font-size: 12px;
        min-width: 130px;
        padding: 7px 12px;
    }
    .footer_sec a.ui.massive {
        font-size: 1em;
    }
    .menu-responsive{display:none!important}
    .three-sixty h4{letter-spacing:0}
    .three-sixty::before{margin-left:-5100px}
    .feature-gst h4{font-size:17px!important;margin:15px 0!important}
    .preview-tab{display:none}
    .tabbed-style{border-top:none;display:none}
    .invoice-featured a{display:block;width:100%}
    .clients_logo > div{flex-direction:column!important}
    .clients_logo::before{display:none}
    .clients_logo .column{text-align:center}
    .clients_logo img{max-width:250px}
    .top-move{bottom:10px;right:10px}
    .copyright{text-align:center}
    footer{padding:30px 0}
    footer img{margin-bottom:40px;max-width:170px}
    .gst-help-desk large{font-size:30px;text-align:left}
    .gst-help-desk small{text-align:center;text-align:left;padding-left:5px}
    .clients{padding-bottom:50px}
    .comments-bar{border-left:none;padding-left:0}
    .blog-detial-statusbar span{font-size:15px}
    .top-move{bottom:0;right:0;transform:scale(.6)}
    .blog-list{padding:30px 0 0}
    .featured-header-main h1{font-size:22px}
    .top-stories{padding-top:60px;padding-bottom:50px}
    .top-stories + div .featured-header-main{margin-top:40px}
    .clients{display:none}
    .inner-canvas img{max-width:100%}
    .feature-gst h1{font-size:45px}
    .tb-style{overflow:auto}
    .feature-gst{background:none;background-color:#282828}
    .featured_header_title{padding:30px 0 0}
    .banner1{min-height:310px}
    .min-header .top-bar-menu{display:none}
    .feature-gst h1{font-size:45px}
    .tb-style{overflow:auto}
    .feature-gst{background:none;background-color:#282828}
    .featured_header_title{padding:30px 0 0}
    .banner1{min-height:310px}
    .inner-child-features ul{position:static}
    .help-desk{padding-bottom:0}
    .sign-up-set{padding-top:0!important}
    .logo-rs{padding-bottom:0!important}
    .min-header .mobile-menu{top:-22px}
    .gst-list-featured .round-set{margin-left:0!important}
    .round-set span{left:136px!important}
    .top-bar-menu a,.help-desk a span{display:block;width:100%}

    .blog-title,.blog-title-detail{padding:40px 0}

    .blog-banner{min-height:inherit!important}
    .blog-list-box .top-title{width:calc(100% - 28px);top:14px;padding:inherit}
    .top-stories .blog-list-box .top-title{top:0}
    .blog-list .ui.container{width:auto!important}
    .help-desk{padding-bottom:0!important}
    .min-header .logo{max-height:30px;top:6px}
    .min-header{padding-bottom:5px}
    .featured_header_title h4{font-size:1.2em}
    nav.share a{height:40px;margin:0;padding:0 20px;width:25%}
    nav.share span{top:-13px;right:0px;z-index:11111}
    .top-move{bottom:15px}
    .navbar_header .menu.menu-responsive .aura-link {
        padding: 0!important;
        float: left;
        width: 100%;
    }
    .p_50 {
        padding: 30px!important;
    }
    .navbar_header .menu.menu-responsive .aura-link span{
        padding:10px 0!important;
    }
    .more_info a{
        font-size: 13px;
    }
    .pad_140{
        padding: 35px 0;
    }
    .navbar_header .menu.menu-responsive a{
        padding-top: 10px!important;
        padding-bottom: 10px!important;
        float: left;
        width: 100%;
    }
    .mobile-menu{
        display: block; 
        cursor: pointer;
    }
    .section_heading {
        font-size: 20px;
        line-height: 1.1;
        letter-spacing: 0;
        margin-bottom: 15px!important;
    }
    .about_sec{
        padding: 50px 0;
    }
    .request_callback{
        padding: 35px 0;
    }
    .banner_sec{
        padding: 50px 0;
    }
    .heading_banner{
        font-size: 22px;
    }
    .request_callback .left_p {
        font-size: 20px;
        text-align: center;
        line-height: 1.5;
    }
    .button_style1{
        font-size: 12px;
        padding: 7px 12px;
        min-width: 170px;
    }
 .statistic_sec .ui.statistic > .value {
    font-size: 22px!important;
}
    .button_style2{
        font-size: 12px;
        line-height: 1;
    }
    .middle_head_bar {
        padding: 10px 0;
    }
    .middle_head_bar li.ui.grid {
        width: 100%;
        margin: 0;
    }
    .navbar_header{
        text-align: center;
        padding:10px 0;
        position: relative;
    }
    .top-bar-menu{
        padding: 10px 0;
    }
    .large_icons{
        font-size: 30px;
    }
    .p_16{
        font-size: 13px;
    }
    .p_12{
        font-size: 10px;
    }
    .p_20{
        font-size: 16px;
        line-height: 1.3;
    }   
    .p_26 {
        font-size: 18px;
        line-height: 1.2;
    }
    .p_24{
        font-size: 18px;
    }
    .mb_10{
        margin-bottom: 5px;
    }
    .mt_20{
        margin-top: 10px!important;
    }
    .mb_20{
        margin-bottom: 10px!important;
    }
    .mb_30{
        margin-bottom: 15px;
    }
    .mb_40{
        margin-bottom: 20px;
    }
    footer{padding:50px 0!important}


}
@media(max-width:490px) {
    .blog-title h1,.blog-title-detail h1{font-size:20px;text-transform:capitalize;line-height:20px}
}
