<footer class="footer_sec">
    <div class="ui container">
        <div class="ui two column centered grid ">
            <div class="row mb_30">
                    <a class="ui massive theme_bg_green circular icon button ">
                            <i class="facebook f icon white"></i>
                    </a>
                    <a class="ui massive theme_bg_green circular icon button ">
                            <i class="twitter icon white"></i>
                    </a>
                    <a class="ui massive theme_bg_green circular icon button ">
                            <i class="google plus g icon white"></i>
                    </a>
                    <a class="ui massive theme_bg_green circular icon button ">
                            <i class="linkedin icon white"></i>
                    </a>
                    <a class="ui massive theme_bg_green circular icon button ">
                            <i class="pinterest p icon white"></i>
                    </a>
            </div>
            <p class="copyrigth_outer" style="text-align: center;">
                <span class="p_16 white">
                 ©Copyright | Aura Agency 2019.</span>
                 <a data-action="page"   href="#">All Right Reserved</a>
            </p>
        </div>
    </div>
</footer>
<a class="top-move theme_bg_yellow white">
        <i class="fa fa-arrow-up"></i>
</a>