<header class="ui row">
    <div class="top-bar-menu">
        <div class="ui container ">
            <div class="ui grid ">
                <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
                    <p>Welcome to our Voyage Agency</p>
                </div>
            </div>
        </div>
    </div>
    <div class="ui container middle_head_bar">
        <div class="ui grid">
                <div class="eight wide mobile sixteen wide tablet  three wide computer column logo-rs">
                    <a class=" item" href="/index.html">
                        <img class="ui image logo" src="/images/logo-aura.png" alt="Aura Immigration"/>
                    </a>
                </div>
                <div class="sixteen wide tablet thirteen wide computer column">
                    <ul class="pull-right ui grid">
                        <li class="ui grid">
                            <div class="three wide mobile four wide computer column large_icons">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="thirteen wide mobile twelve wide computer column">
                                <p class="p_16">Phone</p>
                                    <p class="p_20">
                                        <a href="tel:1234567890" data-action="call" class="moto-link">604-712-0080</a>
                                    </p>    
                            </div>
                        </li>
                        <li class="ui grid m_0">
                            <div class="three wide mobile four wide computer column  large_icons">
                                <i class="fa fa-envelope-open-o"></i>
                            </div>
                            <div class="three wide mobile thirteen wide mobile twelve wide computer column">
                                <p class="p_16">E-mail us</p>
                                    <p class="p_20">
                                        <a href="tel:1234567890" data-action="call" class="moto-link">info@auraimmigration.com</a>
                                    </p>    
                            </div>
                        </li>
                        <li class="ui grid m_0">
                            <div class="three wide mobile four wide computer column large_icons">
                                    <i class="clock outline icon"></i>
                            </div>
                            <div class="thirteen wide mobile twelve wide computer column">
                                <p class="p_16">Opening Time</p>
                                    <p class="p_20">
                                        <a href="tel:1234567890" data-action="call" class="moto-link">08.00 - 18.00</a>
                                    </p>    
                            </div>
                        </li>
                    </ul>
                </div>
        </div>

  </div>
  <div class="navbar_header">
        <div class="ui container">
                <div class=" sixteen wide tablet twelve wide computer column  grid right floated nopadding-tablet">
                    <div class="left aligned sixteen wide tablet eight wide column ">
                        <div class="ui stackable menu menu-responsive m_0">
                            <div class="ui dropdown aura-link">
                                <a href="about.html" class="item theme_green">About</span>
                                <div class="menu">
                                    <a class="item" href="#">Archive</a>
                                    <a class="item" href="#">Events</a>
                                    <a class="item" href="#">Services</a>
                                </div>
                            </div>
                            <a class="theme_green" href="/services.html">
                                services
                            </a>
                            <a class="theme_green" href="/visa_category.html">
                                visa categories
                            </a>
                            <a class="theme_green"  href="immigrationto.html">
                                immigration to
                            </a>
                            <a class="theme_green"  href="/pricing.html">
                                pricing
                            </a>
                            <a class="theme_green"  href="blog.html">
                                news
                            </a>
                            <a class="theme_green"  href="contact.html">
                                Contacts
                            </a>
                        </div>
                        <div class="mobile-menu"><i class="sidebar icon"></i> </div>
                    </div>
                </div>
          </div>
  </div>
 
        

</header>

