<header class="ui row">
    <div class="top-bar-menu">
        <div class="ui container ">
            <div class="ui grid ">
                <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
                    <p>Welcome to our Aura Immigration</p>
                </div>
            </div>
        </div>
    </div>
    <div class="ui container middle_head_bar">
        <div class="ui grid">
                <div class="eight wide mobile three wide tablet  three wide computer column logo-rs nopadding">
                    <a class=" item" href="/index.html">
                        <img class="ui image logo" src="/images/logo-aura.png" alt="Aura Immigration"/>
                    </a>
                </div>
                <div class="thirteen wide tablet thirteen wide computer column">
                    <ul class="ui grid pull-right">
                        <li class="ui grid">
                            <div class="three wide mobile four wide tablet four wide computer column large_icons">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="thirteen wide mobile twelve wide tablet twelve wide computer column">
                                <p class="p_16">Phone</p>
                                    <p class="p_20">
                                        <a href="tel:604-712-0080" data-action="call" class="item">604-712-0080</a>
                                    </p>    
                            </div>
                        </li>
                        <li class="ui grid m_0">
                            <div class="three wide mobile four wide tablet four wide computer column  large_icons">
                                <i class="fa fa-envelope-open-o"></i>
                            </div>
                            <div class="three wide mobile  twelve wide tablet thirteen wide mobile twelve wide computer column">
                                <p class="p_16">E-mail us</p>
                                    <p class="p_20">
                                        <a href="mailto:info@auraimmigration.com" data-action="call" class="">info@auraimmigration.com</a>
                                    </p>    
                            </div>
                        </li>
                        <li class="ui grid m_0">
                            <div class="three wide mobile four wide tablet four wide computer column large_icons">
                                    <i class="clock outline icon"></i>
                            </div>
                            <div class="thirteen wide mobile  twelve wide tablet twelve wide computer column">
                                <p class="p_16">Opening Time</p>
                                    <p class="p_20">
                                        <a href="tel:1234567890" data-action="call" class="item">08.00 - 18.00</a>
                                    </p>    
                            </div>
                        </li>
                    </ul>
                </div>
        </div>
  </div>
  <div class="navbar_header">
        <div class="ui container">
                <div class=" sixteen wide tablet twelve wide computer column  grid right floated nopadding-tablet">
                    <div class="left aligned sixteen wide tablet eight wide column ">
                        <div class="ui stackable menu menu-responsive m_0">
                            <div class="ui dropdown aura-link">
                                <a {% if page.url == "/about.html" %}class="active "{% endif %} href="about.html" class="item">About</a>
                                    <i class="fa fa-caret-down"></i>
                                <div class="ui menu">
                                    <a class="" href="/archive.html">Archive</a>
                                    <a class="" href="/events.html">Events</a>
                                    <a class="" href="/services.html">Services</a>
                                </div>
                                <div class="ui mobile">
                                    <a class="" href="/archive.html">Archive</a>
                                    <a class="" href="/events.html">Events</a>
                                    <a class="" href="/services.html">Services</a>
                                </div>
                            </div>
                            <a  {% if page.url == "/services.html" %}class="active"{% endif %} href="/services.html">
                                services
                            </a>
                            <div class="ui dropdown aura-link">
                                <a {% if page.url == "/visa_category.html" %}class="active "{% endif %} href="/visa_category.html" class="item">Visa Categories</a>
                                    <i class="fa fa-caret-down"></i>
                                <div class="ui menu">
                                    <a class="" href="/canadian-business-immigration.html">Business Immigration</a>
                                    <a class="" href="/canadian-work-permits.html">Work Permits</a>
                                    <a class="" href="/canadian-immigration.html">Immigrate to Canada</a>
                                </div>
                                <div class="ui mobile">
                                    <a class="" href="/archive.html">Archive</a>
                                    <a class="" href="/events.html">Events</a>
                                    <a class="" href="/services.html">Services</a>
                                </div>
                            </div>
                            <!-- <a {% if page.url == "/immigrationto.html" %}class="active"{% endif %}   href="immigrationto.html">
                                immigration to
                            </a>
                            <a {% if page.url == "/pricing.html" %}class="active"{% endif %}  href="/pricing.html">
                                pricing
                            </a>
                            <a  {% if page.url == "/blog.html" %}class="active"{% endif %}  href="blog.html">
                                news
                            </a> -->
                            <a {% if page.url == "/contact.html" %}class="active"{% endif %}   href="contact.html">
                                Contacts
                            </a>
                        </div>
                        <div class="mobile-menu"><i class="sidebar icon theme_yellow"></i> </div>
                    </div>
                </div>
          </div>
  </div>
</header>

